<div class="contaner mt-5" >
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">firstname</th>
                <th scope="col">lastname</th>
                <th scope="col">email</th>
                <th scope="col">profileimage</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let user of gotData">
                <tr>
                    <th scope="row">{{user.firstname}}
                        <span *ngIf="!user.isEditing">{{ user.firstname }}</span>
                        <input *ngIf="user.isEditing" [(ngModel)]="user.name" />
                    </th>
                    <td>{{user.lastname}}
                        <span *ngIf="!user.isEditing">{{ user.name }}</span>
                        <input *ngIf="user.isEditing" [(ngModel)]="user.name" />
                    </td>
                    <td>{{user.email}}
                        <span *ngIf="!user.isEditing">{{ user.email }}</span>
                        <input *ngIf="user.isEditing" [(ngModel)]="user.name" />
                    </td>
                    <td>{{user.profileimage}}
                        <span *ngIf="!user.isEditing">{{ user.profileimage }}</span>
                        <input *ngIf="user.isEditing" [(ngModel)]="user.name" />
                    </td>
                    <button *ngIf="!isEditing" (click)="toggleEdit()">Edit</button>
                    <button *ngIf="isEditing" (click)="saveEdit()">Save</button>
                </tr>
            </ng-container>

        </tbody>
    </table>

</div>